:root {
  font-size: 10px; }

body {
  padding: 2rem 20rem;
  font-family: "Montserrat", sans-serif; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid #5550C6;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: #5550C6; }

header {
  height: 80vh;
  width: 100%; }
  header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .navigation__logo-box {
      font-size: 2.5rem;
      font-weight: 700;
      color: #5550C6; }
    header .navigation .navigation__list {
      display: flex;
      list-style: none; }
    header .navigation__item {
      margin-right: 2rem; }
    header .navigation__link {
      color: #000;
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none; }
  header .banner {
    margin-top: 15rem;
    display: flex; }
    header .banner__intro {
      width: 50%; }
      header .banner__intro h1 {
        font-size: 3rem; }
      header .banner__intro h4 {
        font-size: 1.6rem;
        font-weight: 400;
        width: 70%;
        margin-bottom: 5rem; }
    header .banner__video {
      width: 50%; }
      header .banner__video video {
        width: 100%;
        border-radius: 1.5rem; }
