main {
  height: 80vh;
  width: 80%;
  margin: 10rem auto;
}

.feature-box {
  margin: 10rem auto;
  width: 90%;
  display: flex;

  &__img {
    width: 50%;
    height: 70%;
    border-radius: 15px;
  }
}